.toast {
    /*height: 100px !important;*/
    width: 350px !important;
    height: 80px;
    opacity: 1 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

#toast-container > div {
    opacity: 1 !important;
}

.toast-message{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.custom-position-class{
    position: static;
    top: 60px;
    right: 0;
}
blockquote{
    border-left: 5px solid blue;
    padding-left: 10px;
}

.blog-header-link{
    text-decoration: none;
    color: black;
}
.blog-header-link:hover{
    text-decoration: none;
}

@media (min-width: 950px){
    .gallery-cover-picture{
        height: 150px;
        overflow:hidden;
    }
}
