.copied{
    background: green !important;
}
input{
    border-radius: 0 !important;
}
.drafts{
    margin-top: 40px;
    min-height: 80vh;
}

.list-group-item, .btn{
    border-radius: 0 !important;
}
.all-drafts{
    margin-top: 20px;
}
.draft-list-link{
    color: black;
    font-size: 19px;
    font-weight: bolder;
}
.draft-list-link:hover{
    text-decoration: none;
    color: red;
}

@media (min-width: 769px){
    .drafts-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 768px){
    .create-draft{
        width: 100%;
    }
    .search-draft{
        margin-top: 20px;
        width: 100%;
    }
    .search-draft-input{
        width: 80%;
    }
    .search-draft-btn{
        width: 20%;
    }
    .btn-copy-identifier{
        width: 100%;
    }
}
