.btn-filter{
    width: 180px;
}
.solved{
    border-color: #0aff3f;
}
.solved:hover{
    background: #54ff79 !important;
}
.problems{
    min-height: 80vh;
}

.problems-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-group{
    border-radius: 0 !important;
}
.problems-link:hover, .problems-link:active{
    text-decoration: none;
}
.list-group-item:hover{
    background: #f0f5ff;
}
